<%- include('../partials/header') %>

<!-- add in functionality for player save check for joja vs community route -->

<form id="add-save-form" method="POST" action="/saves">
    <input type="checkbox" name="minecars">
    <label>Minecars Purchased</label>
    <input type="checkbox" name="bridge">
    <label>Bridge Purchased</label>
    <input type="checkbox" name="greenhouse">
    <label>Greenhouse Purchased</label>
    <input type="checkbox" name="monsters">
    <label>Monster Slayer Completion</label>
    <input type="checkbox" name="bus">
    <label>Bus to Desert Purchased</label>
    <input type="checkbox" name="theater">
    <label>Theater Purchased</label>
    <input type="submit" value="Update Community Progress">
  </form>

  <a href=""

<%- include('../partials/footer') %>