<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <!-- CSS only BOOTSTRAPS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


  <title>
    <%= title %>
  </title>
</head>

<body style="background-image: url('https://i.imgur.com/gpjsUjm.jpg');
height: 100vh">
  <!-- JavaScript Bundle with Popper BOOTSTRAPS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home </a>
        <% if (user) { %>
          <a class="nav-item nav-link" href="/gameSaves">GameSaves</a>
          <a class="nav-item nav-link" href="https://stardewvalleywiki.com/Stardew_Valley_Wiki" target="_blank">Stardew WIKI</a>
          <a class="nav-item nav-link justify-content-end" href="/logout">LOGOUT</a>

          <% } else { %>
            <a class="nav-item nav-link" href="https://stardewvalleywiki.com/Stardew_Valley_Wiki" target="_blank">Stardew WIKI</a>
            <a class="nav-item nav-link justify-content-end" href="/auth/google">LOGIN</a>
            <% } %>
      </div>
    </div>
  </nav>