<%- include('../partials/header') %>

GameSave edit page

<div class="container"></div>
    <div class="row">
        <div class="col-sm-3">Save Name: </div>
        <div class="col-sm-3"> <%= gameSave.saveName %></div>
    </div>
</div>
<%- include('../partials/footer') %>