<%- include('../partials/header') %>

  <form id="add-save-form" method="POST" action="/gameSaves">
    <label>Add New Save:</label>
    <input type="text" name="saveName" required></textarea>
    <label>Completion Path(Community/Joja)</label>.
    <select name="completionPath">
      <option value="Community">Community Center</option>
      <option value="Joja">JojaMart</option>
    </select>



    <input type="checkbox" name="community">
    <label>Community Upgrades</label>
    <input type="checkbox" name="items">
    <label>Items Sold</label>
    <input type="checkbox" name="buildings">
    <label>Obelisks Built</label>
    <input type="checkbox" name="monsters">
    <label>Monster Slayer Completion</label>
    <input type="checkbox" name="friendship">
    <label>Maximum Friendship</label>
    <input type="checkbox" name="skills">
    <label>Maximised All Skills</label>
    <input type="checkbox" name="stardrops">
    <label>All Stardrops Collected</label>
    <input type="checkbox" name="recipes">
    <label>All Cooking Recipes Made</label>
    <input type="checkbox" name="crafting">
    <label>All Items Crafted</label>
    <input type="checkbox" name="fish">
    <label>All Fish Caught</label>
    <input type="checkbox" name="walnuts">
    <label>All Goldend Walnuts Collected</label>
    <input type="submit" value="Add New Game Save">
  </form>

  <%- include('../partials/footer') %>