<%- include('./partials/header') %>

<div class="p-2 bd-highlight col-example">
<img src="https://wallpaperaccess.com/full/3639104.png" style="border: 10px solid; margin: 0 auto;">
</div>

  <%- include('./partials/footer') %>